.register-title{
    font-weight: 900 !important;
}

.register-label{
    font-weight: bold;
}

.register-button{
    font-weight: bold;
    letter-spacing: 1px;
}

.register-cuenta{
    font-weight: bold;
}