.staff-layout {
  display: flex;
  /* min-height: 100vh; */
  background-color: #f4f6f8;
}

.staff-content {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
}

.dashboard-title {
  font-size: 28px;
  margin-bottom: 24px;
  color: #222;
  font-weight: 600;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 24px;
}

.card {
  background: linear-gradient(145deg, #ffffff, #f0f0f0);
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.07);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
}

.card h3 {
  font-size: 18px;
  color: #555;
  margin-bottom: 12px;
  font-weight: 500;
}

.card p {
  font-size: 23px;
  font-weight: bold;
  color: #2c3e50;
  margin: 0;
}

.card:link{
  text-decoration: none;
}